<h1>*ngFor local variables</h1>

<ul>
  <li
    *ngFor="
      let person of people;
      index as i;
      count as length;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
  >
    {{ i }} :: {{ person.first_name }}
    <span class="counter">({{ i + 1 }} from {{ length }}) </span>
    <span class="bold" *ngIf="isFirst"> the first</span>
    <span class="bold" *ngIf="isLast"> the last</span>
    <span class="bold" *ngIf="isEven"> is even</span>
    <span class="bold" *ngIf="isOdd"> is odd</span>
  </li>
</ul>
